<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/home">
      <img src="assets/paw-32.png" alt="Logo" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact</a>
        </li>
      </ul>

      <!-- User Icon Button to Trigger Popover -->
      <p-button
        icon="pi pi-user"
        class="p-button-rounded p-button-text"
        (onClick)="popover.toggle($event)"
      ></p-button>

      <!-- Popover for Login/Logout -->
      <p-popover #popover>
        <div class="flex flex-col gap-2 px-3 py-2" style="min-width: 180px;">
          
          <!-- If Logged In: Show Name and Logout -->
          <ng-container *ngIf="isLoggedIn; else guestLinks">
            <div class="text-sm text-primary font-semibold mb-1">
              Hello, {{ userName }}
            </div>
            <button
              pButton
              label="My Account"
              class="p-button-sm w-full"
              (click)="navigateTo('/account'); popover.hide()"
            ></button>
            <button
              pButton
              label="Logout"
              class="p-button-danger p-button-sm w-full"
              (click)="logout(); popover.hide()"
            ></button>
          </ng-container>

          <!-- If Not Logged In: Login & Signup Buttons -->
          <ng-template #guestLinks>
            <button
              pButton
              label="Login"
              class="p-button-sm w-full"
              (click)="navigateTo('/login'); popover.hide()"
            ></button>
            <button
              pButton
              label="Signup"
              class="p-button-outlined p-button-sm w-full"
              (click)="navigateTo('/signup'); popover.hide()"
            ></button>
          </ng-template>
        </div>
      </p-popover>
    </div>
  </div>
</nav>
