<div class="container d-flex pt-5">
  <div>
    <h1>Contact us</h1>
    <p>Feel free to use the form or drop us an email. Old-fashioned phone calls work too.</p>
    <div class="d-flex flex-row">
      <i class="pi pi-phone"></i> <p class="call ps-2">67778882</p>
    </div>
    <div class="d-flex flex-row">
      <i class="pi pi-envelope"></i> <p class="call ps-2">info&#64;doggo.com</p>
    </div>
    <div class="d-flex flex-row">
      <i class="pi pi-map-marker"></i> <p class="call ps-2">15 West 3rd St. Media, Pa. 19063</p>
    </div>
  </div>
</div>
