<div
  class="hero-banner d-flex align-items-center justify-content-center text-center text-white"
  [ngStyle]="{ 'background-image': 'url(assets/manja-vitolic-gKXKBY-C-Dk-unsplash.jpg)' }"
>
  <div class="content-container px-3">
    <h1 class="display-4 fw-bold">Pet Grooming Service</h1>
    <a class="btn btn-primary" href="#">Book Now</a>
  </div>
</div>

  
  
<div class="row row-cols-1 row-cols-md-3 mb-3 text-center mt-5">
  <div class="col">
    <div class="card mb-4 rounded-3 shadow-sm">
      <div class="card-header py-3">
        <h4 class="my-0 fw-normal">Pawsome Bath</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">
          $10<small class="text-body-secondary fw-light">/mo</small>
        </h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>Bath</li>
          <li>Deshedding</li>
          <li>Blow Drying</li>
          <li>Combing & Brushing</li>
        </ul>
        <button type="button" class="w-100 btn btn-lg btn-outline-primary">
          Get started
        </button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card mb-4 rounded-3 shadow-sm">
      <div class="card-header py-3">
        <h4 class="my-0 fw-normal">Pro Grooming</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">
          $20<small class="text-body-secondary fw-light">/mo</small>
        </h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>Paw Massage</li>
          <li>Nail Clipping</li>
          <li>Teeth Cleaning</li>
          <li>Anti-tick & Flea bath</li>
        </ul>
        <button type="button" class="w-100 btn btn-lg btn-outline-primary">
          Get started
        </button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card mb-4 rounded-3 shadow-sm">
      <div class="card-header py-3 text-bg">
        <h4 class="my-0 fw-normal">Advanced Styling</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">
          $30<small class="text-body-secondary fw-light">/mo</small>
        </h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>Ear and Eye cleaning</li>
          <li>Dematting</li>
          <li>Sanitary Trimming</li>
          <li>Full Body Trimming</li>
        </ul>
        <button type="button" class="w-100 btn btn-lg btn-outline-primary">
          Contact us
        </button>
      </div>
    </div>
  </div>
</div>
