body{
    margin:0px;
    padding:0px;
    overflow-x: hidden;
}
.hero-banner {
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    margin: 0;  
    padding: 0;
  }
  